:host {
    --content-padding: 10px;
    }
    header {
    display: block;
    height: 30px;
    padding: var(--content-padding);
    box-shadow: 0px 5px 25px var(--shadow-color);
    }
    
    .content {
    padding: var(--content-padding);
    }

    .logo{
        width: 3% !important;
        height: auto !important;
       }
      
       .logo-containesr{
        display: flex;
        justify-content: center;
        align-items: center;
       }